* {
	/* включает внутренние отступы и границы в ширину блока, установленную через свойство width */
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html {
	/* значение отступа между колонками */
	--offset: 10px;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
.row{
    display: flex;
    flex-direction: row;

}
.title_block{
	padding-top: 4%;
	padding-bottom: 4%;
	font-size: 30px;
	color: #0369A1;
	text-align: center;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}
/*navigation навигация*/
.background_navigation{
	background-color: #0284C7;
}
.menu__navigation{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 55%;
}
.menu_component{
	font-family: 'Open Sans', sans-serif;
	margin-left: 20px;  
	margin-top: 15px;
	font-size: 20px;
	font-weight:  600;
	text-align: center;
	color: white;
	
}
.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 10px;
}
.logo__navigation{
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: white;
	margin-top: 10px;
	font-size: 26px;
	font-weight: Bold;
}
/*navigation навигация*/
header{
	background-image: url(img/hero.png);
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    max-width: 100%;
	
}
.text_header{
	max-width: calc(100% / 12 * 6 );
	word-wrap: break-word;
	padding-top: 10%;
}
.text_header__title{
	font-size: 46px;
	text-align: left;
	color: rgb(3, 3, 3);
	font-weight:  Bold;
	font-family: 'Open Sans', sans-serif;
	margin-top: 10px;
}
span{
	color: #0284C7;
}
#text_header__div__title{
	font-size: 16px;
	text-align: left;
	color: #075985;
	margin-top:30px;
	font-weight:  400;
	font-family: 'Open Sans', sans-serif;	

}
.button{
	width: 30%;
	height: 50px;
	border-radius: 5px;
	margin-bottom: 5%;
	background-color: #0EA5E9;
	font-size: 18px;
    color: white;
    border: none;
    margin-top: 5%;
    margin-bottom: 3%;
    cursor: pointer;
}
/*лечение кариеса*/
.background_caries{
    background-color:  #f5f5f5;
    padding-top: 50px;
    padding-bottom: 100px;
}
.title_block_caries{
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: 34px;
    color: #0369A1;
    text-align: :left;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.caries__block_text{
    width: calc(100% / 12 * 7 - var(--offset));
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.caries__text{
   
    font-size: 22px;
    color: #0369A1;
    text-align:justify;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.caries__img{
    width: calc(100% / 12 * 5 - var(--offset));
    border-radius: 20px;

} 
.caries_price__calumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caries_price__block_light_blue{
    background-color: #F0F9FF;
    border-radius: 30px;
    margin-top: 30px;
    width: calc(100% / 12 * 11 - var(--offset));
    
}
.caries_price__block_blue{
    background-color: #E0F2FE;
    border-radius: 30px;
    margin-top: 30px;
    width: calc(100% / 12 * 11 - var(--offset));
    
}

.caries_price__text{
    font-size: 18px;
    color: #075985;
    text-align: left;
    margin-left: 25px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    Line-height: 27.24px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.span_blue{
    color: #38bdf8;
}
.span_green{
    color: #50b534;
}
/*наши услуги*/
.services_backgraound{
	background-color:  #f5f5f5; 
    padding-top: 50px;
}

.services_img_backgraound{
	background-color: #0ea5e9;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}
.services_img_flex{
	/*background-color: #02c730;*/
	width: 1000px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 50px;
	padding-top: 50px;

}
.services_img{
	width: calc(100% / 12 * 3 - var(--offset));
	/*width: 300px;*/
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 20px;
	height: 200px;
	
}
#services_img_02{
	background: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 20.34%, rgba(69, 152, 199, 0.57) 20.34%, rgba(92, 89, 118, 0) 96.57%, rgba(0, 0, 0, 0) 96.57%), url(img/service-3.png);
	background-size: cover;
}
#services_img_03{
	background: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 20.34%, rgba(69, 152, 199, 0.57) 20.34%, rgba(92, 89, 118, 0) 96.57%, rgba(0, 0, 0, 0) 96.57%), url(img/service-2.png);
	background-size: cover;
}
#services_img_04{
	background: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 20.34%, rgba(69, 152, 199, 0.57) 20.34%, rgba(92, 89, 118, 0) 96.57%, rgba(0, 0, 0, 0) 96.57%), url(img/service-1.png);
	background-size: cover;
}
.services_arrow{
	width: 100px;
	height: 100px;
}
.services_img__text_container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 75%;
	height: 100%;
	margin-left: 10px;
}
.services_img__text{
	color: #F0F9FF;
	font-size: 16px;
	text-align: left;
	font-weight: 600, Semi Bold;
	font-family: 'Open Sans', sans-serif;
}
.services_img__text_number{
	color: #F0F9FF;
	font-size: 20px;
	text-align: left;
	font-weight: 500, Medium;
	font-family:  'Playfair Display';
}
/*футор*/
footer{
	background-color: #F0F9FF;
}
.footer_text{
	font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #075985;
    line-height: 26px;
}
.footer_text_bold{
	font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #075985;
    line-height: 26px;
}
#footer_row2__padding{
	padding-top: 50px;
	padding-bottom: 70px;
}
#footer_row1__padding{
	padding-top: 50px;
}
.footer_icon{

	width: 20px;
	height: 20px;
}
#footer_icon_fb{
	margin-left: 10px;
}
.row__footer{
	display: flex;
	flex-direction: row;
}
#footer_row3{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-bottom: 50px;
}






