* {
	/* включает внутренние отступы и границы в ширину блока, установленную через свойство width */
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html {
	/* значение отступа между колонками */
	--offset: 10px;
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
/*navigation навигация*/
.background_navigation{
	background-color: #0284C7;
}
.menu__navigation{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	width: 70%;
}
.menu_component{
	font-family: 'Open Sans', sans-serif;
	margin-left: 20px;  
	margin-top: 15px;
	font-size: 20px;
	font-weight:  600;
	text-align: center;
	color: white;
	text-decoration: none;
}
a:hover { 
    color: #ffe; /* Цвет ссылки */ }
.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 10px;
}
.logo__navigation{
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: white;
	margin-top: 10px;
	font-size: 26px;
	font-weight: Bold;
}
.title_block{
	padding-top: 4%;
	padding-bottom: 4%;
	font-size: 30px;
	color: #0369A1;
	text-align: center;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
}
/*navigation навигация*/
header{
	background-image: url(img/hero.png);
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    max-width: 100%;
	
}
.text_header{
	max-width: calc(100% / 12 * 6 );
	word-wrap: break-word;
	padding-top: 10%;
}
.text_header__title{
	font-size: 46px;
	text-align: left;
	color: rgb(3, 3, 3);
	font-weight:  Bold;
	font-family: 'Open Sans', sans-serif;
	margin-top: 10px;
}
span{
	color: #0284C7;
}
#text_header__div__title{
	font-size: 16px;
	text-align: left;
	color: #075985;
	margin-top:30px;
	font-weight:  400;
	font-family: 'Open Sans', sans-serif;	

}
.button{
	width: 30%;
	height: 50px;
	border-radius: 5px;
	margin-bottom: 5%;
	background-color: #0EA5E9;
	font-size: 18px;
    color: white;
    border: none;
    margin-top: 5%;
    margin-bottom: 3%;
    cursor: pointer;
}
/*наши услуги*/
.services_backgraound{
	background-color: 	#f5f5f5; 
}

.services_img_backgraound{
	background-color: #0EA5E9;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;


}
.services_img_flex{
	/*background-color: #02c730;*/
	width: 1000px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 50px;
	padding-top: 50px;

}
.services_img{
	width: calc(100% / 12 * 3 - var(--offset));
	/*width: 300px;*/
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 20px;
	height: 200px;
	
}
#services_img_02{
	background: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 20.34%, rgba(69, 152, 199, 0.57) 20.34%, rgba(92, 89, 118, 0) 96.57%, rgba(0, 0, 0, 0) 96.57%), url(img/service-3.png);
	background-size: cover;
}
#services_img_03{
	background: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 20.34%, rgba(69, 152, 199, 0.57) 20.34%, rgba(92, 89, 118, 0) 96.57%, rgba(0, 0, 0, 0) 96.57%), url(img/service-2.png);
	background-size: cover;
}
#services_img_04{
	background: linear-gradient(90deg, rgba(69, 152, 199, 0.57) 20.34%, rgba(69, 152, 199, 0.57) 20.34%, rgba(92, 89, 118, 0) 96.57%, rgba(0, 0, 0, 0) 96.57%), url(img/service-1.png);
	background-size: cover;
}
.services_arrow{
	width: 100px;
	height: 100px;
}
.services_img__text_container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 75%;
	height: 100%;
	margin-left: 10px;
}
.services_img__text{
	color: #F0F9FF;
	font-size: 16px;
	text-align: left;
	font-weight: 600, Semi Bold;
	font-family: 'Open Sans', sans-serif;
}
.services_img__text_number{
	color: #F0F9FF;
	font-size: 20px;
	text-align: left;
	font-weight: 500, Medium;
	font-family:  'Playfair Display';
}


/*о клнике*/

.about_clinic{
	background-image: url(img/background-1.png);
	padding-bottom: 50px;

}
.about_clinic__text{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: justify;
	color: #171717;
	margin-top:30px;
	font-weight:  400;

}

.button__about_clinic{
	width: 18%;
	height: 28px;
	border-radius: 5px;
	background-color: #0EA5E9;
	font-size: 16px;
    color: white;
    border: none;
    margin-top: 5%;
    margin-bottom: 3%;
	/*не понимаю как подвинуть кнопку вправо*/
    cursor: pointer;
}
/*отзывы*/
.reviews{
	background-color: #fafafa;
	width: 100%;
	height: 100%;
}
.reviews_img{
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.reviwes__text{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align: justify;
	color: #737373;
	font-weight:  400;
	
}
.reviews__blok_content{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.review__title{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: justify;
	color:#0284C7;
	font-weight:  700;
}
.reviews__blok{
	width: 45%;
	border: 1px solid  	#E5E5E5;
	padding: 20px;
	box-shadow: 0px 1px 10px 1px rgb(0 0 0 / 10%);
	box-sizing: border-box;
    border-radius: 20px;
	margin-bottom: 50px;
}
.reviews__blok_content_text{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.row{
	display: flex;
	flex-direction: row;
}
/*адрес*/
.address{
	background-image: url(img/map-background.png);
	padding-bottom: 50px; /*как растянуть прозрачный блок?*/
}
.block-opacity {
	background: linear-gradient(0deg, rgba(240, 249, 255, 0.8), rgba(240, 249, 255, 0.8));
    width: 100%;
    
}
.address__block{
	width: 30%;
	border: 1px solid  	#0284C7;
	padding: 20px;
	box-shadow: 0px 1px 10px 1px rgb(0 0 0 / 10%);
	border-radius: 25px;
}
.address__text{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #075985;
text-align: left;
line-height: 20px;
}
#address__text__telephone{
	margin-top: 30px;
}
.row_address{
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}
.address__icon{
	width: 30px;
	height: 35px;
	margin-right: 5px;
}
.address__icon_circle{
	width: 30px;
	height: 30px;
	margin-right: 5px;
}
.address__block__title{	
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 19px;
color: #075985;
line-height: 26px;
}
.column{
	display: flex;
	flex-direction: column;
}
/*футор*/
footer{
	background-color: #F0F9FF;
}
.footer_text{
	font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #075985;
    line-height: 26px;
}
.footer_text_bold{
	font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #075985;
    line-height: 26px;
}
#footer_row2__padding{
	padding-top: 50px;
	padding-bottom: 70px;
}
#footer_row1__padding{
	padding-top: 50px;
}
.footer_icon{

	width: 20px;
	height: 20px;
}
#footer_icon_fb{
	margin-left: 10px;
}
.row__footer{
	display: flex;
	flex-direction: row;
}
#footer_row3{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-bottom: 50px;
}